/* F O N T S  */
@font-face {
    font-family: '1942 report';
    src: local('1942 report'), local('1942report'),
        url('hinted-1942report.woff2') format('woff2'),
        url('hinted-1942report.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '1942 report';
    src: local('1942 report'), local('1942report'),
        url('hinted-1942report.woff2') format('woff2'),
        url('hinted-1942report.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* S T A R T  */
  
 @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
 @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
 @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.flicker-4 {
	-webkit-animation: flicker-4 4s linear infinite both;
            animation: flicker-4 4s linear infinite both;
            
}
#start {
    cursor: pointer;
    position: absolute;
    height: 9%;
    text-align: center;
    width: 14%;
    margin-top: 22%;
    margin-left: 43%;
    z-index: 10;
    background: #740000c7;
    border-radius: 20px 20px 20px 20px;
}
#img {
    height: 74%;
    width: auto;
    margin-left: -4%;
    margin-top: -4.3%;
    position: absolute;
    -webkit-animation:spin 60s linear infinite;
    -moz-animation:spin 60s linear infinite;
    animation:spin 60s linear infinite;
}
#start h1{
    font-family: monospace;
    background: white;
    color: black;
    height: 37%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* F R O N T  P A G E  */
#frontpagewrapper {
    width: 100%;
    height: 100%;
    background: #7b0000;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#buttonwrapper {
    width: 100%;
    height: 100%;
    display: inline-flex;
    background: #6c0000;
}
#infotyped {
    position: absolute;
    width: 100%;
    height: 100%;
}
#infotyped p {
    border: none;
    margin-top: 20%;
    margin-left: 59.5%;
    width: 36%;
    height: 37%;
    padding:4px 4px 4px 4px;
    border-radius: 0px 0px 0px 0px;
    display: inline-flex;
    flex-wrap: wrap;
    background: none;
}
#contagiontitle {
    justify-content: center;
    align-items: center;
    z-index: 11;
    display: inline-flex;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#thetitle{
    width: 84%;
    height: 50%;
    margin: 0 auto;
    margin-top: 25%;
    margin-left: 15%;
    font-family: '1942 report';
    color: white;
    font-size: 300%;
    z-index: 10;
}
#button {
    cursor: pointer;
    width: 69%;
    height: 10%;
    background: black;
    display: inline-flex;
    margin: 0 auto;
    margin-top: 42.5%;
    z-index: 10;
}
#button h1:hover {
    color: white;
}
#button h1 {
    font-family: '1942 report';
    color: black;
    margin-left: 3.5%;
    z-index: 10;
}
 /* E N D   P A G E  */

#backpagewrapper {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#button2wrapper {
    width: 100%;
    height: 100%;
    display: inline-flex;
    background: #000000;
}
#infotyped {
    position: absolute;
    width: 100%;
    height: 100%;
}
#endinfotyped p {
    border: none;
    margin-top: 253%;
    margin-left: 97.5%;
    width: 196%;
    height: 37%;
    padding: 4px 4px 4px 4px;
    border-radius: 0px 0px 0px 0px;
    display: inline-flex;
    flex-wrap: wrap;
    background: none;
    color: #b02424;
}
#endcontagiontitle {
    justify-content: center;
    align-items: center;
    z-index: 11;
    display: inline-flex;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#endthetitle{
    width: 84%;
    height: 50%;
    margin: 0 auto;
    margin-top: 25%;
    margin-left: 15%;
    font-family: '1942 report';
    color: #b02424;
    font-size: 300%;
    z-index: 10;
}
#endbutton {
    cursor: pointer;
    width: 69%;
    height: 10%;
    background: white;
    display: inline-flex;
    margin: 0 auto;
    margin-top: 42.5%;
    z-index: 10;
}
#endbutton h1:hover {
    color: black;
}
#endbutton h1 {
    font-family: '1942 report';
    color: white;
    margin-left: 3.5%;
    z-index: 10;
}

/* M O D A L*/
.hide {
    display: none;
}
.horror {
    display: none;
}
.end {
    color: red;
    background: black
}
#modl {
    display:none;
}
#c1 {
    background: #27d3ff45
}
#c1 p {
    background: #1384b2ba;
    color: #39e500;
}
#d1 p {
    background: #ff00009c;
    color: black;
}

.blocker.current{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 11;
    padding: 20px;
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0,0,0,0.82);
    text-align: center;
}
.modal{

    background: #000000c7;
    width: 100%;
    height: auto;
}
.modal p{
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 0px 30px 2px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    margin-left: -1%;
    height: auto;
    background: rgba(0, 118, 76, 1);
    border: none;
    color: #00ff90;
}

/* P R O G R E S S    B A R */
progress[value] {
    -webkit-appearance: none;
    width: 54%;
    height: 2.39vh;
    box-sizing: border-box;
    display: inline-block;
}
progress[value]::-webkit-progress-bar {
    background-color:black;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(207, 0, 0, 0.25)),
        -webkit-linear-gradient(left, rgb(255, 255, 255), rgb(179, 50, 50));

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
#med {
    margin-top: 0%;
    margin-left: 0%;
}
.progbardiv{
    margin-top: 10%;
    margin-left: 1%;
    height: 7%;
    display: inline-flex;
    width: 92%;
    align-items: center;
    justify-content: center;

}
p {
    padding:0% 1%;
    font-size: x-large;
    font-family: monospace;
    border: groove;
    border-radius: 10%;
}
/* E N D   P R O G R E S S    B A R */

/* E V E N T   W I N D O W */

#windowanchor {
    display: inline-flex;
    height: 30%;
    width: 30%;
    z-index: 1;
    position: absolute;
    margin-left: 40%;
}
#windowwrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
#windowbackground {
    width: 83%;
    height: 288%;
    display: inline-flex;
    margin-left: 100%;
    margin-top: 16%;
    background: #0000009c;
    border: solid;
    border-radius: 7px 7px 7px 7px;
    justify-content: center;
    align-items: center;
}
#backgroundborder {
    width: 95%;
    height: 96%;
    background: #0000008f;
    border: double;
    border-radius: inherit;
}
#titleconsole {
    width: 100%;
    background: #73262694;
    height: 16%;
    border-bottom: double;
    border-radius: 4px 4px 0px 0px;
    color: white;
}
#logo {
    white-space: pre;
    display: inline-block;
    margin-left: -60%;
    margin-top: -4%;
    border: none;
    background: none;
}
#titleconsole p {
    background: none;
    border: none;
    display: inline-block;
    margin-top: -2%;
    margin-bottom: 2%;
    color: white;
}
#console {
    width: 98%;
    height: 81%;
    border-bottom: double;
    margin-left: 1.3%;
    overflow: auto;
}
#console p {
    background: none;
    border: none;
    font-size: large;
    color: black;
    border-radius: 3px 3px 3px 3px;
    ;
}

/* E N D  E V E N T   W I N D O W */

/* G O O G L E   M A P S  B U T N  R E M O V E */
.gm-control-active{
    display:none;
    margin-right:100%
}
.gm-style-mtc{
    display:none;
}
.gm-svpc{
    display: none;
}
nav {
    display: flex;
    justify-content: flex-start;
}
.gmnoprint {
    position: absolute;
}
/* E N D   G O O G L E   M A P S  B U T N  R E M O V E */

/* M A I N   B U T N   S E L C T  W R A P*/
#wrapper { 
    position: absolute;
    width: 41.5%;
    display: inline-flex;
    padding-top: 1%;
    justify-content: inherit;
    padding-left: 4%;
    flex-direction: column;
    z-index: 2;
}
#titlewrapper {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    height: 30%;
}
#title {
    width: 96%;
    height: 30vh;
    margin-left: 2%;
    background: white;
}
/* E N D   M A I N   B U T N   S E L C T  W R A P*/

/* M A I N   B U T N   S E L C T */
#section {
    display: inherit;
    width: 100%;
    justify-content: flex-start;
}
.floating-panel {
    cursor: pointer;
    z-index: 5;
    line-height: 22px;
    padding: .4% 3% .6% 2%;
    background-color: #992900;
    border-radius: 0px 20px 0px 15px;
    text-align: center;
    /* border: dashed; */
    /* border-color: #000000; */
    font-family: monospace;
    font-size: large;
    color: white;
}
::placeholder {
    color: #992900;
}
#diagnose {
    background: cadetblue;
}
#diagwrapper {
    position: absolute;
    margin-left: 100%;
    width: 44%;
    height: 100%;
}
#diaginput {
    width: 98.5%;
    height: 47%;
    border-radius: 10px 10px 0px 0px;
    background: white;
    text-align: center;
    font-size: larger;
    font-family: monospace;
}
#diagsub:hover {
    background: white;
    color:black;
}

#diagsub {
    width: 55%;
    margin-left: 22.5%;
    margin-top: 1%;
    background: #a33900;
    border: inset;
    font-size: 135%;
    font-family: monospace;
    color: white;
    border-radius: 8px 8px 10px 10px;
}
#diagbox {
    background: cadetblue;
    width: 100%;
    height: 120%;
    margin: 0 auto;
    /* margin-top: 6%; */
    margin-left: -6%;
    /* display: flex; */
    border-radius: 10px 10px 10px 10px;
}
/* E N D   M A I N   B U T N   S E L C T */

/* G O V N M T   W R A P R */
#governmentwrap{
    width: 86.122222%;
    height: 40vh;
    margin-left: 4%;
    background: rgb(98, 7, 7,.7);
    position: relative;
    z-index: 3;
    border-radius: 0px 0px 10px 10px;
    border: solid;
    text-align: center;
}
#government {
    width: 64%;
    margin-top: 9%;
    background: black;
    /* border: coral dashed 5px; */
    text-align: center;
    display: inline-block;
    box-shadow: 0px 0px 6px 10px;
    border-radius: 4px 4px;
}
#gov { 
    width: 80%;
    margin: 10px;
    font-size: 22.79px;
    background: black;
    color: white;
    border-color: red;
}
#govsub {
    background: #a03204;
    width: 51%;
    font-size: xx-large;
    font-family: monospace;
    margin: 10px;
    border-radius: 4px;
    color: white;
    /* box-shadow: 0px 0px 20px 1px; */
}
/* E N D   G O V N M T   W R A P R */

/* P O P L T N   W R A P R */

#populationwrap{
    width: 64.1222%;
    height: 34vh;
    background: rgba(98, 7, 7, 0.7);
    position: relative;
    z-index: 3;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    border: solid;
    text-align: center;
    margin-left: 14%;
    margin-top: -0.331%;
}
#progpeop {
    margin-top: -6%;
}

/* E N D   P O P L T N   W R A P R */

/* S C I   W R A P */
#scientistwrap{
    width: 86.122222%;
    height: 27vh;
    margin-left: 4%;
    background: rgb(98, 7, 7,.7);
    position: relative;
    z-index: 3;
    border-radius: 0px 0px 10px 10px;
    border: solid;
    text-align: center;
}

#scitab2{
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    height: 19%;
}
#action,#guide,#solutions {
    cursor: pointer;
    z-index: 5;
    line-height: 22px;
    margin: 0% 2.778%;
    margin-top: 5%;
    background-color: #992900;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    box-shadow: 0px 0px 4px 1px;
    border: double;
    border-color: white;
    font-family: monospace;
    font-size: large;
    width: 26%;
    color: white;
}
.cure {
    z-index: 5;
    line-height: 22px;
    margin: 0% 2.778%;
    margin-top: 1.5%;
    margin-bottom: -2%;
    background-color: cadetblue;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    box-shadow: 0px 0px 4px 1px;
    border: none;
    /* border-color: lightcoral; */
    font-family: monospace;
    font-size: large;
    width: 26%;
}
.pathogenbar {
    z-index: 5;
    line-height: 22px;
    margin: 0% 2.778%;
    margin-top: -1.5%;
    margin-bottom: -2%;
    background-color: cadetblue;;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    box-shadow: 0px 0px 4px 1px;
    border: none;
    /* border-color: lightcoral; */
    font-family: monospace;
    font-size: large;
    width: 26%;
}
#good {
    background: #325bac85;
}
#bad{
    background: #607d8b00;
}
/* S U B   B T N S */

/* R E F   C O D E   B U T N */
/* #action {

} */
#refcodes {
    width: 126%;
    height: 37vh;
    margin-top: 41%;
    margin-left: 14%;
    margin-right: -159%;
    background: #992900;
    position: absolute;
    z-index: 3;
    border-radius: 10px;
    border: solid;

    text-align: center;
}
.codeswrapper {
    width: 100%;
    margin-top: 1.3%;
    height: 93%;
    background: rgba(0, 0, 0, 0.79);
    justify-content: space-around;
    
}
.codesdiv {
    display: inline-flex;
    width: 100%;
}
.pathogen,.public,.government {
    width: -webkit-fill-available;
}
.refcodehead {
    font-size: 146%;
    font-family: monospace;
    border-radius: 3px;
}
.href ul li p {
    font-size: large;
    margin-bottom: -14%;
    margin-top: 16%;
    border: none;
    background: none;
}
a {
color: black;
}
.public ul li {
    margin-left: 20%;
}
/* .government ul li {

} */
.pathogen ul li:hover{
    background:#10c681
}
.public ul li:active{
    background:#2b86e269;
}
.public ul li:hover{
    background:#2b86e269;
}
.government ul li:active{
    background: #eddb64;
}
.government ul li:hover{
    background: #eddb64;
}

.codesdiv ul li{
    cursor: pointer;
    justify-content: flex-start;
    font-family: monospace;
    font-size: 127%;
    width: 99%;
    box-shadow: 0px 0px 0px 1px;
}

/* N B C A A  R E F F E R  B U T N */
/* #guide {

} */
#refguide {
    width: 246%;
    height: 59vh;
    margin-left: 73%;
    margin-top: 41%;
    margin-right: -159%;
    background: #6c2021bf;
    position: absolute;
    z-index: 3;
    border-radius: 10px;
    border: solid;
    text-align: center;
    color: white;
}
.disease {
    cursor: pointer;
    z-index: 5;
    line-height: 22px;
    padding: .2% .5% .2% .3%;
    background-color: #000000cf;
    border-radius: 0px 20px 0px 15px;
    text-align: center;
    border: dashed;
    border-color: #c50d00;
    font-family: monospace;
    font-size: large;
    color: white;
}
li {
    display: flex;
    padding-left: 2%;
    width: 115%;
}
.h1name {
    font-size: -webkit-xxx-large;
    width: 16%;
    background: #000000;;
    border-radius: 15px 15px 0px 0px;
}


/* E M E R G E N C Y  B U T N */
/* #solutions {
    pointer-events: none;
} */
#emgsolutions {
    width: 40%;
    height: 39vh;
    margin-left: 74%;
    margin-right: -159%;
    background: rgba(0, 0, 0, 0.73);
    position: absolute;
    z-index: 3;
    border-radius: 10px;
    border: solid;
    text-align: center;
}
.solutionswrapper {
    width: 100%;
    padding-top: 0%;
    margin-top: 7.3%;
    height: 89%;
    background: white;
}
.solutionsdiv {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.saveearth li:hover {
    box-shadow: 0px 0px 0px 1px;
    border: red dashed;
    background: black;
    color: red;
    border-radius: 3px 3px 3px 3px;
    margin-top: 39%;
}
.saveearth li {
    box-shadow: 0px 0px 0px 1px;
    border: red dashed;
    border-radius: 3px 3px 3px 3px;
    margin-top: 39%;
}
/* E N D  S C I   W R A P R */










 /* G O O G L E   M A P S */
/* Always set the map height explicitly to define the size of the div
element that contains the map. */

#map {
height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
height: 100%;
margin: 0;
padding: 0;
}
input {
    width: 40%;
}

