

/* P R O G R E S S    B A R */
progress[value] {
    -webkit-appearance: none;
    width: 54%;
    height: 2.39vh;
    box-sizing: border-box;
    display: inline-block;
}
progress[value]::-webkit-progress-bar {
    background-color:black;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(207, 0, 0, 0.25)),
        -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
.progbardiv{
    margin-top: 10%;
    margin-left: 1%;
    height: 7%;
    display: inline-flex;
    width: 92%;
    align-items: center;
    justify-content: center;

}
p {
    padding:0% 1%;
    font-size: x-large;
    font-family: monospace;
    background: coral;
    border: groove;
    border-radius: 10%;
}
/* E N D   P R O G R E S S    B A R */
/* G O O G L E   M A P S  B T N  R E M O V E */
.gm-control-active{
    display:none;
}
.gm-style-mtc{
    display:none;
}
.gm-svpc{
    display: none;
}
nav {
    display: flex;
    justify-content: flex-start;
}
/* E N D   G O O G L E   M A P S  B T N  R E M O V E */

/* M A I N   B T N   S E L C T  W R A P*/
#wrapper { 
    position: absolute;
    width: 41.5%;
    display: inline-flex;
    padding-top: 3%;
    justify-content: inherit;
    padding-left: 4%;
    flex-direction: column;
}
#titlewrapper {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    height: 30%;
}
#title {
    width: 96%;
    height: 30vh;
    margin-left: 2%;
    background: white;
}
/* E N D   M A I N   B T N   S E L C T  W R A P*/

/* M A I N   B T N   S E L C T */
#section {
    display: inherit;
    width: 100%;
    justify-content: flex-start;
}
.floating-panel {
    cursor: pointer;
    z-index: 5;
    border: 1px solid #999;
    font-family: 'Roboto','sans-serif';
    line-height: 22px;
    margin: 0% 2.778%;
    background-color: #e5611c;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    box-shadow: 0px 0px 4px 1px;
    border: dashed;
    border-color: lightcoral;
    font-family: monospace;
    font-size: large;
}
/* E N D   M A I N   B T N   S E L C T */

/* G O V N M T   W R A P */
#governmentwrap{
    width: 86.122222%;
    height: 40vh;
    margin-left: 4%;
    background: rgb(98, 7, 7,.7);
    position: relative;
    z-index: 3;
    border-radius: 0px 0px 50px 50px;
    border: solid;
    text-align: center;
}
#government {
    width: 64%;
    margin-top: 9%;
    background: yellow;
    border: coral dashed 5px;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 0px 30px 10px;
    border-radius: 4px 4px;
}
#gov { 
    width: 80%;
    margin: 10px;
    font-size: 22.79px;
    background: black;
    color: coral;
}
#govsub {
    background: #b62424;
    width: 51%;
    font-size: xx-large;
    font-family: monospace;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 1px;
}
/* E N D   G O V N M T   W R A P */

/* P O P L T N   W R A P */

#populationwrap{
    width: 64.1222%;
    height: 18vh;
    /* margin-right: -145%; */
    background: rgba(98, 7, 7, 0.7);
    position: relative;
    z-index: 3;
    border-radius: 0px 0px 50px 50px;
    border: solid;
    text-align: center;
    margin-left: 15%;
}

/* E N D   P O P L T N   W R A P */

/* S C I   W R A P */
#scientist{
    width: 150%;
    height: 50vh;
    margin-left: 2%;
    background: white;
}
/* E N D  S C I   W R A P */










 /* G O O G L E   M A P S */
/* Always set the map height explicitly to define the size of the div
element that contains the map. */

#map {
height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
height: 100%;
margin: 0;
padding: 0;
}
input {
    width: 40%;
}

